## -----------------------------------------------------------------------------
## Software variables
## -----------------------------------------------------------------------------
SW_TOOL := arm-none-eabi-gcc --specs=nosys.specs
SW_TARG ?= 

## -----------------------------------------------------------------------------
## Firmware variables
## -----------------------------------------------------------------------------
FW_TARG   ?= 
DEV_IP    :=

#$(eval $(call ADD_MODULE,<fw_name>,<module_name>))
<fw_name>_SRCS += 
<fw_name>_BDS  += 
<fw_name>_SIMS += 

## -----------------------------------------------------------------------------
## SoC App variables
## -----------------------------------------------------------------------------
SOC_TARG     ?= 
SOC_TEMPLATE := "empty_application"
<soc_name>_LNK   := 
<soc_name>_INCS  += 
<soc_name>_SRCS  += 
